.row
  .col-md-12
    = resource.errors.inspect
  .col-md-12
    = f.error_notification
  .form-group
    %label.form-label Titel
    = f.text_area :title, rows: 1, class: 'form-control'
  .form-group
    %label.form-label Einführungstext
    = f.text_area :introduction, rows: 3, class: 'form-control'
  .form-group
    %label.form-label Frage
    = f.text_area :content, rows: 3, class: 'form-control'
  .form-group
    %label.form-label Antwort
    = f.text_area :answer, rows: 3, class: 'form-control'
  .form-group
    %label.form-label Tags
    = f.text_area :tag_list, { rows: 1, placeholder: "Tags durch Kommata trennen!", class: 'form-control' }
  %h5 Kategorien
  .form-group
    %ul.list-unstyled
      - Question::CATEGORIES.keys.each do |cat|
        %li
          %label.form-label.label.label-success
            = check_box_tag "category_mappings[#{cat}]", "1", category_checked?(cat)
            = Question::CATEGORIES[cat]
  .form-group
    %label.form-label Typ
    = select_tag "question[typus]", options_for_select(options_for_typus, resource.try(:typus))
  .form-group
    %label.form-label Bild
    = f.file_field :image
.row
  .jumbotron
    = image_tag resource.image.url(:medium) if resource.try(:image)
.row
  .col-md-12
    %center
      = link_to 'zurück', questions_path, class: 'btn btn-warning'
      = f.submit 'Speichern', class: 'btn btn-info'
