.row
  .col-md-12
    = f.error_notification
  .form-group
    %label.form-label Titel
    = f.text_area :title, rows: 1, class: 'form-control'
  .form-group
    %label.form-label Einführungstext
    = f.text_area :introduction, rows: 3, class: 'form-control'
  .form-group
    %label.form-label Frage
    = f.text_area :content, rows: 3, class: 'form-control'
  .form-group
    %label.form-label Antwort
    = f.text_area :answer, rows: 3, class: 'form-control'
  .form-group
    %label.form-label Tags
    = f.text_area :tag_list, { rows: 1, placeholder: "Tags durch Kommata trennen!", class: 'form-control' }
  %h5 Kategorien
  .form-group
    - Question::CATEGORIES.keys.each do |cat|
      %label{ class: "form-label base-label label-#{Question::CATEGORIES[cat][:color]}"}
        = check_box_tag "category_mappings[#{cat}]", "1", category_checked?(cat)
        = Question::CATEGORIES[cat][:title]

  .form-group
    %label.form-label Typ
    = select_tag "question[typus]", options_for_select(options_for_typus, resource.try(:typus))
  .form-group
    %label.form-label Externe Bild-URL
    = f.text_area :external_image_url, rows: 1, class: 'form-control'

- if resource.try(:external_image_url)
  .row
    .jumbotron
      %center
        = image_tag resource.external_image_url if resource.try(:external_image_url)

.row
  .col-md-12
    %center
      = link_to 'zurück', questions_path, class: 'btn btn-warning'
      = f.submit 'Speichern', class: 'btn btn-info'
