.row
  .col-md-12
    %center
      .head
        %h1
          %strong Fragenkatalog

.row
  .col-md-12
    %ul.nav.nav-tabs
      %li.active
        = link_to questions_path do
          %i.glyphicon.glyphicon-dashboard
          Übersicht

    %table.table.table-hover.table-striped
      %tr.custom-head
        %th #
        %th.name{ colspan: 1 } Titel
        %th{ colspan: 2 } Kategorien
        %th Tags
        %th Typ
        %th
      - collection.each do |question|
        %tr
          %td
            %strong= question.id
          %td
            %strong
              = link_to question.title, question_path(question)
          %td.categories{ colspan: 1 }
            %ul.list-unstyled
              - question.category_mappings.each do |cm|
                %li
                  .label.label-success
                    = cm.category.title
          %td
            = simple_form_for CategoryMapping.new, method: :post do |f|
              = hidden_field_tag "category_mapping[question_id]", question.id
              = f.select :category_id, options_for_select(Category.all.map { |cat| [cat.title, cat.id] })
              = f.submit 'hinzufügen', class: 'btn btn-default btn-xs'
          %td
            = render 'shared/tag_cloud', owner: question
          %td
            .badge
              = question.typus
          %td.actions
            .pull-right
              = link_to edit_question_path(question) do
                %i.glyphicon.glyphicon-wrench
              = link_to question, method: :delete, confirm: 'Bist du sicher?' do
                %i.glyphicon.glyphicon-trash
      %tr
        %td{ colspan: 6 }
          = link_to new_question_path do
            %i.glyphicon.glyphicon-plus
            Neue Frage
.row
  %center
    = link_to 'zurück',games_path, class: 'btn btn-primary'
