.row
  .col-md-12
    %center
      .head
        %h1
          %strong Fragenkatalog

.row
  .col-md-12
    = render 'search'

    %table.table.table-hover.table-striped
      %tr.custom-head
        %th #
        %th.name{ colspan: 1 } Titel
        %th Kategorien
        %th Tags
        %th Typ
        %th
      - collection.each do |question|
        %tr
          %td
            %strong= question.id
          %td
            %strong
              = link_to question.title, question_path(question)
          %td.categories{ colspan: 1 }
            = render 'shared/question_categories', question: question
          %td
            = render 'shared/tag_cloud', owner: question
          %td
            .badge
              = question.typus
          %td.actions
            .pull-right
              = link_to edit_question_path(question) do
                %i.glyphicon.glyphicon-wrench
              = link_to question, method: :delete, confirm: 'Bist du sicher?' do
                %i.glyphicon.glyphicon-trash
      %tr
        %td{ colspan: 6 }
          = link_to new_question_path do
            %i.glyphicon.glyphicon-plus
            Neue Frage
.row
  %center
    = link_to 'zurück', menu_games_path, class: 'btn btn-primary'
