%center
  .head
    %h1
      %strong Fragenkatalog

  .nav-link
    = link_to new_question_path do
      %i.glyphicon.glyphicon-plus
      Neue Frage eintragen
  %table
    %tr.table-head
      %th #
      %th Titel
      %th Tags
    - collection.each do |question|
      %tr
        %td
          %h4= question.id
        %td
          Schnitzel-Frage
        %td
          - ["Fleisch", "Oekologie", "unbenutzt"].each do |tag|
            .badge
              = tag
        %td
          = link_to question, method: :delete do
            %i.glyphicon.glyphicon-trash

  = link_to 'zurück',games_path, class: 'btn btn-primary'
