.row
  .col-md-12
    %center
      .head
        %h4
          %strong= resource.title
.row
  .col-md-12
    %h5
      = simple_format resource.introduction

.row
  %center
    %h1.jumbotron
      = resource.content

- if resource.try(:external_image_url)
  .row
    .jumbotron
      %center
        = image_tag resource.external_image_url if resource.try(:external_image_url)
.row
  .col-md-12
    %center
      %h3
        %italic
          #answer{ style: "display: none;" }
            = resource.answer

.row
  .col-md-12
    %center
      %button.btn.btn-large.btn-danger#clicker
        Antwort
      = link_to 'zurück zum Fragenkatalog', questions_path, class: 'btn btn-primary'

:javascript
  (function() {
    listenForAnswerToggeling();
  })();
