%center
  .head
    %h1
      %strong Teams

  = simple_form_for resource, { id: 'team_form'} do |f|
    %table.table.table-hover
      %tr.table-head
        %th.name Name
        %th Gesamtscore
        %th ... im letzten Spiel
        %th Durchschnitt
        %th
      - collection.each do |team|
        %tr
          %td
            %h4= team.title
          %td
            42
          %td
            3.14159
          %td
            2.7828
          %td
            = link_to team, method: :delete do
              %i.glyphicon.glyphicon-trash
      %tr
        = render 'form', { f: f }

    = f.submit 'fertig', class: 'btn btn-success'
    = link_to 'zurueck', teams_path, class: 'btn btn-primary'
