%center
  .head
    %h1
      %strong
        %i.glyphicon.glyphicon-user
        Teams

  = simple_form_for resource, { id: 'team_form'} do |f|
    %table.table.table-hover.table-striped
      %tr.custom-head
        %th.name Name
        %th Gesamtscore
        %th ... im letzten Spiel
        %th Durchschnitt
        %th
      - collection.each do |team|
        %tr
          %td
            %strong
              = team.title
          %td
            .badge
              42
          %td
            .badge
              3.14159
          %td
            .badge
              2.7828
          %td.actions
            .pull-right
              = link_to team, method: :delete do
                %i.glyphicon.glyphicon-trash
      %tr
        = render 'form', { f: f }

    = f.submit 'fertig', class: 'btn btn-success'
    = link_to 'zurueck', teams_path, class: 'btn btn-primary'
