<div class='col-md-12'>
  <center>
    <h2>Kannst Du dich nicht mehr erinnern, Dude?</h2>
  </center>
  <div class='box-devise'>
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'form-horizontal'}) do |f| %>
      <%= f.error_notification %>
      <div class="form-horizontal">
        <div class="form-group">
          <%= f.text_field :email, :placeholder => 'E-Mail', :required => false, :autofocus => true %>
        </div>

      <div class="form-actions">
        <center>
          <%= f.button :submit, "Passwort zurücksetzen", :class => "btn-devise btn btn-primary" %>
        </center>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
