.col-md-12
  .form-group
    = select_tag :game_id, options_for_select(Game.all.reject{ |game| game.results.count > 0 }.map{ |game| [game.title, game.id] }, params[:game]), class: 'form-control'
.col-md-12
  %table.table.table-striped
    %thead
      %tr
        %td Team
        %td Runde 1
        %td Runde 2
        %td Runde 3
        %td Runde 4
    %tbody
    - teams.each do |team|
      %tr
        %td= team.title
        %td
          .form-group
            = text_field_tag "scores[#{team.id.to_s}][1]"
        %td
          .form-group
            = text_field_tag "scores[#{team.id.to_s}][2]"
        %td
          .form-group
            = text_field_tag "scores[#{team.id.to_s}][3]"
        %td
          .form-group
            = text_field_tag "scores[#{team.id.to_s}][4]"

