.col-md-12
  %center
    .head
      %h1
        %strong Ready to rumble?

.col-md-12
  .list
    %ul.list-unstyled
      - Game.all.each do |game|
        %li.game
          = game.title + " (" + game.expected_date.strftime("%d.%m.%Y") + ") "
          .pull-right
            = link_to edit_game_path(game) do
              %i.glyphicon.glyphicon-pencil
            = link_to game_path(game), method: :delete do
              %i.glyphicon.glyphicon-trash
            = link_to start_game_path(game) do
              %i.glyphicon.glyphicon-play
              JETZT spielen


.col-md-12
  %center
    = link_to 'Ich will zu meiner Mami!', games_path , class: 'btn btn-large btn-success'
