.row
  .col-md-2
    .logo
      = image_tag('logo.png')
  .col-md-10
    %h1
      %strong Kneipenquiz Backend

.row
  .col-md-12
    .col-md-6
      %h2
        = link_to games_path do
          .panel
            .panel-body
              %i.glyphicon.glyphicon-play
              Spiele
    .col-md-6
      %h2
        = link_to teams_path do
          .panel
            .panel-body
              %i.glyphicon.glyphicon-user
              Teams & Ergebnisse
    .col-md-6
      %h2
        = link_to questions_path do
          .panel
            .panel-body
              %i.glyphicon.glyphicon-question-sign
              Fragenkatalog
    .col-md-6
      %h2
        = link_to new_game_path do
          .panel
            .panel-body
              %i.glyphicon.glyphicon-wrench
              Spiel vorbereiten
    .col-md-12
      %h2
        = link_to new_post_path do
          .panel
            .panel-body
              %i.glyphicon.glyphicon-fire
              News eintragen
