%center
  .head
    %h1
      %strong Spiel vorbereiten
%p
  Ein Spiel besteht aus 4 Runden mit je 8 Fragen. F端r das Zwischenspiel kannst Du Instruktionen
  eintragen, die dann angezeigt werden

.col-md-12
  .col-md-6
    %h2 Runde 1
    %ul.list-unstyled
      - (1..8).each do |n|
        %li
          = select_tag :question, options_for_select(options_for_questions)
  .col-md-6
    %h2 Runde 2
    %ul.list-unstyled
      - (1..8).each do |n|
        %li
          = select_tag :question, options_for_select(options_for_questions)
.col-md-12
  .col-md-6
    %h2 Runde 3
    %ul.list-unstyled
      - (1..8).each do |n|
        %li
          = select_tag :question, options_for_select(options_for_questions)

  .col-md-6
    %h2 Runde 4
    %ul.list-unstyled
      - (1..8).each do |n|
        %li
          = select_tag :question, options_for_select(options_for_questions)
.col-md-12
  %h2 Anzeigetext f端r das Zwischenspiel
  = text_field_tag :intermezzo
%center.col-md-12
  = link_to 'zur端ck zum Haupmen端', games_path, class: 'btn btn-info'
