%center
  .head
    %h1
      %strong= resource.title

.row
  .col-md-12
    %center
      %ul.list-unstyled
        - (1..4).each do |n|
          %li
            .round-headline
              %h2= link_to "Runde #{n} starten", round_one_game_path(resource)

            %table.table.table-hover.table-striped
              %tr.custom-head
                %th #
                %th.name{ colspan: 1 } Titel
                %th Kategorien
                %th Tags
                %th Typ
                %th
              - (1..8).each do |k|
                = render 'shared/question', question: resource.question(n.to_s, k.to_s), actions: false
.row
  .col-md-12
    %center
      = link_to 'zurück zum Haupmenü', games_path, class: 'btn btn-info'
