%center
  %button.btn.btn-large.btn-primary#fscr-button
    %i.glyphicon.glyphicon-play
    Präsentation starten

.premessage
  %h1
    %center
      %strong Gleich geht's los.

#fscr-area
  .roq
    %center
      .head
        %h1
          %strong= resource.title
  .row
    .col-md-12
      %center
        %ul.list-unstyled
          - (1..4).each do |n|
            %li
              .round-headline
                %h2= "Runde #{n}"
              - (1..8).each do |k|
                = render 'questions/question_without_answer', question: Question.for(resource, n, k)
  .row
    .col-md-12
      %center
        = link_to 'zurück zum Haupmenü', games_path, class: 'btn btn-info'

:javascript
  var fh = FullscreenHandler.init();
