!!!
%html
  %head
    %title Kneipenquiz
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.body
    .container
      .pull-right
        = link_to 'Aktuelles', '/', class: 'btn btn-mini'
        = link_to 'Regelement', '/reglement', class: 'btn btn-mini'
        - if user_signed_in?
          = link_to 'Backend', menu_games_path, class: 'btn btn-mini'
          = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-mini'
        - else
          = link_to 'Login', backend_path, class: 'btn btn-mini'
      .content-wrapper
        = yield
